.git
.github
node_modules
packages/*/node_modules
dist
coverage
.env
.env.*
!.env.example
config/devnet-zkusd-mint-keypair.json
.railway
.railway.env
circuits/target
!circuits/target/solvus.json
!circuits/target/solvus.ccs
!circuits/target/solvus.pk
!circuits/target/solvus.vk
npm-debug.log*
yarn-debug.log*
yarn-error.log*
